nav {
  display: flex;
  background-color: #fff;
  color: #000;
  height: 50px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  animation: nav-animation 0.7s 0.7s ease-out both;
  box-shadow: 0 0.1px 6px -2px black;
  z-index: 99; }

.hamburger {
  width: 48px;
  height: 48px;
  background-color: #fff;
  margin-left: 10%;
  position: relative;
  transition: 0.3s linear; }
  .hamburger #hamburger-icon {
    display: none; }
  .hamburger label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s linear; }
  .hamburger:hover {
    cursor: pointer; }
  .hamburger .hamburger-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    width: 28px;
    height: 3px;
    transition: opacity 0.3s ease-in, top 0.3s 0.3s linear, transform 0.3s 0.6s linear; }
  .hamburger .hamburger-bar:nth-of-type(1) {
    top: 33%; }
  .hamburger .hamburger-bar:nth-of-type(3) {
    top: 67%; }

#hamburger-icon:checked + label {
  transform: rotate(90deg); }
  #hamburger-icon:checked + label .hamburger-bar:nth-of-type(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); }
  #hamburger-icon:checked + label .hamburger-bar:nth-of-type(2) {
    opacity: 0; }
  #hamburger-icon:checked + label .hamburger-bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }

#hamburger-icon:checked ~ .hamburger-menu {
  opacity: 1;
  left: 0; }

.hamburger-menu {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s linear; }
  .hamburger-menu .hamburger-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0; }
    .hamburger-menu .hamburger-list .hamburger-list_item {
      list-style: none;
      width: 100%;
      margin: 10px 0;
      cursor: pointer;
      position: relative; }
      .hamburger-menu .hamburger-list .hamburger-list_item .hamburger-list_number {
        display: block;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #d50000; }
      .hamburger-menu .hamburger-list .hamburger-list_item .hamburger-list_link {
        text-transform: uppercase;
        width: 100%;
        height: 100%;
        display: block;
        padding: 15px 0;
        text-align: center;
        font-size: 2em;
        text-decoration: none;
        color: #222;
        letter-spacing: 5px; }
      .hamburger-menu .hamburger-list .hamburger-list_item .hamburger-list_link::nth-of-type(1) {
        margin-top: 10px; }
    .hamburger-menu .hamburger-list .hamburger-list_item:nth-of-type(1) {
      margin-top: 50px; }

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  justify-self: center;
  flex-grow: 1; }
  .brand-logo a {
    color: #000;
    text-decoration: none; }

.search {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding: 0 20px; }
  .search:hover {
    cursor: pointer; }

.cart-wrapper {
  margin-right: 10%;
  position: relative; }
  .cart-wrapper .cart-content {
    position: absolute;
    left: -250px;
    border-top: 1px solid #ccc;
    width: 300px;
    height: 200px;
    background-color: #fff;
    display: none; }
    .cart-wrapper .cart-content h2 {
      width: 80%;
      padding: 20px 0;
      font-size: 2em;
      font-weight: normal;
      margin: 0 auto 50px auto;
      border-bottom: 1px solid #ccc; }
      .cart-wrapper .cart-content h2 span {
        color: #999;
        font-size: 0.6em; }
    .cart-wrapper .cart-content .fa-times {
      position: absolute;
      right: 0;
      font-size: 1.2em;
      padding: 10px;
      text-align: center;
      top: 0; }
      .cart-wrapper .cart-content .fa-times:hover {
        cursor: pointer; }
    .cart-wrapper .cart-content a {
      display: block;
      color: #222;
      width: 100%;
      height: 80px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      color: #333;
      background-color: lightblue; }
    .cart-wrapper .cart-content .fa-arrow-right {
      margin-left: 10px; }
  .cart-wrapper .show {
    display: block; }

.cart {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 100%; }
  .cart:hover {
    cursor: pointer; }

.sign {
  display: none; }

.fa-cart-plus {
  padding: 0 20px;
  font-size: 1.3em; }

@keyframes nav-animation {
  0% {
    top: -10%; }
  100% {
    top: 0%; } }

@media (max-width: 550px) {
  .shop-menu {
    display: none; }
  .cart {
    margin: 0 5% 0 0; }
  .hamburger {
    margin-left: 5%; } }

@media (min-width: 750px) {
  .hamburger-list_link {
    color: #bbb !important;
    transition: 0.3s linear; }
    .hamburger-list_link:hover {
      color: #222 !important; }
  .fa-cart-plus {
    display: none; }
  .sign {
    display: flex; } }

@media (max-height: 600px) {
  .hamburger-list_link {
    font-size: 1.5em !important; }
  .hamburger-list_item {
    width: 45% !important;
    margin-top: 20px !important; }
  .hamburger-list_item:nth-of-type(1),
  .hamburger-list_item:nth-of-type(2) {
    margin-top: 60px !important; }
  .hamburger-list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap; } }
