nav {
  display: flex;
  background-color: #fff;
  color: #000;
  height: 50px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  animation: nav-animation 0.7s 0.3s ease-out both;
  box-shadow: 0 0.1px 6px -2px black;
  z-index: 99; }

.hamburger {
  width: 48px;
  height: 48px;
  background-color: #fff;
  margin-left: 10%;
  position: relative; }
  .hamburger:hover {
    cursor: pointer; }
  .hamburger .hamburger-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    width: 28px;
    height: 3px; }
  .hamburger .hamburger-bar:nth-of-type(1) {
    top: 33%; }
  .hamburger .hamburger-bar:nth-of-type(3) {
    top: 67%; }

.shop-menu {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-left: 30px;
  letter-spacing: 3px;
  height: 100%; }
  .shop-menu .fa-chevron-right {
    margin-left: 5px;
    font-size: 0.8em;
    line-height: 19px; }
  .shop-menu:hover {
    cursor: pointer; }

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  justify-self: center;
  flex-grow: 1; }
  .brand-logo a {
    color: #000;
    text-decoration: none; }

.search {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding: 0 20px; }
  .search:hover {
    cursor: pointer; }

.cart-wrapper {
  margin-right: 10%;
  position: relative; }
  .cart-wrapper .cart-content {
    position: absolute;
    left: -250px;
    border-top: 1px solid #ccc;
    width: 300px;
    height: 200px;
    background-color: #fff;
    display: none; }
    .cart-wrapper .cart-content h2 {
      width: 80%;
      padding: 20px 0;
      font-size: 2em;
      font-weight: normal;
      margin: 0 auto 50px auto;
      border-bottom: 1px solid #ccc; }
      .cart-wrapper .cart-content h2 span {
        color: #999;
        font-size: 0.6em; }
    .cart-wrapper .cart-content .fa-times {
      position: absolute;
      right: 0;
      font-size: 1.2em;
      padding: 10px;
      text-align: center;
      top: 0; }
      .cart-wrapper .cart-content .fa-times:hover {
        cursor: pointer; }
    .cart-wrapper .cart-content a {
      display: block;
      color: #222;
      width: 100%;
      height: 80px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      color: #333;
      background-color: lightblue; }
    .cart-wrapper .cart-content .fa-arrow-right {
      margin-left: 10px; }
  .cart-wrapper .show {
    display: block; }

.cart {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 100%; }
  .cart:hover {
    cursor: pointer; }

.sign {
  display: none; }

.fa-cart-plus {
  padding: 0 20px;
  font-size: 1.3em; }

@keyframes nav-animation {
  0% {
    top: -10%; }
  100% {
    top: 0%; } }

@media (max-width: 550px) {
  .shop-menu {
    display: none; }
  .cart {
    margin: 0 5% 0 0; }
  .hamburger {
    margin-left: 5%; } }

@media (min-width: 750px) {
  .fa-cart-plus {
    display: none; }
  .sign {
    display: flex; } }
