.slider {
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #999; }

.section {
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%; }
