.slider-container {
  height: calc(100vh - 50px);
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  z-index: -1;
  background-color: #fff;
  animation: slider-animation 0.7s ease-in 0.5s both; }
  .slider-container .slider-container_slides {
    width: 100%;
    z-index: -1;
    background-image: url("../img/slick-slider/slider1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .slider-container h3 {
    letter-spacing: 2px;
    color: #fff;
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%); }
  .slider-container .slider-container_btn {
    position: absolute;
    left: 50%;
    bottom: 75px;
    transform: translateX(-50%);
    border: 2px solid #fff;
    text-transform: uppercase;
    font-size: 1.3em;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.3s linear; }
  .slider-container .slider-container_btn:hover {
    background: white;
    color: #000;
    cursor: pointer; }
  .slider-container .slider-container_slides:nth-of-type(2) {
    background-image: url("../img/slick-slider/slider2.jpg"); }
  .slider-container .slider-container_slides:nth-of-type(3) {
    background-image: url("../img/slick-slider/slider3.jpg"); }
  .slider-container .slick-slider,
  .slider-container .slick-track,
  .slider-container .slick-list {
    height: 98%; }
  .slider-container .slick-arrow {
    height: 40px; }
  .slider-container .slick-next {
    right: 50px; }
  .slider-container .slick-prev {
    left: 25px;
    z-index: 999; }
  .slider-container .slick-prev:before,
  .slider-container .slick-next:before {
    font-size: 48px; }

.slick-active h3 {
  animation: h3-animation 0.7s ease-in 0.3s both; }

.slider-container_dots .slick-dots {
  z-index: 999;
  bottom: 50px;
  overflow: hidden; }

.slider-container_dots .slick-dots li button:before {
  font-family: ""; }

.slider-container_dots .slick-dots li button {
  width: 48px;
  height: 3px;
  padding: 0;
  margin: 0;
  background: #fff; }

.slider-container_dots .slick-dots li {
  position: relative;
  left: -20px;
  width: 48px;
  height: 24px;
  padding: 0;
  margin: 0; }

.slider-container_dots .slick-dots li:nth-of-type(2) {
  left: 0; }

.slider-container_dots .slick-dots li:nth-of-type(3) {
  left: 20px; }

.wrapper {
  height: 100vh;
  background-color: #fff;
  margin-top: 100vh;
  width: 100%;
  z-index: 9999; }

@keyframes slider-animation {
  0% {
    top: 100px;
    opacity: 0; }
  100% {
    top: 50px;
    opacity: 1; } }

@keyframes h3-animation {
  0% {
    bottom: 100px;
    opacity: 0; }
  100% {
    bottom: 130px;
    opacity: 1; } }

@media (max-width: 550px) {
  .slider-container_btn {
    padding: 5px 10px !important; }
  .slider-container h3 {
    width: 80%;
    margin-bottom: 0;
    text-align: center; } }

@media (max-height: 400px) {
  .slider-container h3,
  .slider-container_btn {
    visibility: hidden; } }
