.slider-testimonials_slides {
  display: block;
  width: 100%;
  height: auto; }

.slider-box {
  background-color: #f1f1f1;
  padding: 60px 0; }
  .slider-box .testimonials-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

#slider-testimonials {
  width: 85%;
  padding: 70px 90px;
  box-sizing: border-box;
  background-color: #ddd; }
  #slider-testimonials .slick-next::before {
    color: #222;
    font-size: 1.3em; }
  #slider-testimonials .slick-prev::before {
    color: #222;
    font-size: 1.3em; }
  #slider-testimonials .slick-dots li button:before {
    font-size: 0.8rem; }
  #slider-testimonials .slick-dots {
    left: 0; }

.product-describe {
  width: 90%;
  margin: 30px auto; }
  .product-describe h3 {
    text-transform: uppercase;
    letter-spacing: 3px; }
  .product-describe p {
    line-height: 1.5em;
    letter-spacing: 2px; }
  .product-describe .btn-green {
    background: transparent;
    border: 2px solid #1aa170;
    color: #1aa170;
    margin-top: 20px;
    padding: 1em 3.5em;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em; }

@media (min-width: 1064px) {
  .slider-box .testimonials-wrapper {
    flex-direction: row; }
  #slider-testimonials {
    width: 50%;
    order: 2; }
  .product-describe {
    width: 40%;
    margin: 0 auto; } }
