.tag-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 75px 0;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  & h1 {
    flex-basis: 45%;
    padding-right: 35px;
    // text-align: center;
    align-self: center;
  }
  & p {
    flex-basis: 45%;
    padding-right: 35px;
    & span {
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
  }
}
@media (min-width: 795px) {
  .tag-content h1 {
    text-align: center;
  }
  .tag-content p {
    text-align: justify;
  }
}
